@charset "utf-8";
@import "../main.css";

.overall-container {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    grid-template-rows: [header-start] 75px [header-end navbar-start] 50px [navbar-end] 25px [project1-start]
    250px [project1-end project2-start] 250px [project2-end];
    grid-template-areas:
    "header"
    "navbar"
    "."
    "project1"
    "project2";
}

.navbar {
    display: flex;
    top: 75px;
    position: sticky;
    width: 100%;
    grid-area: navbar;
    justify-content: space-around;
    font: italic 22px Arial, sans-serif;
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.project-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

h4 {
    text-align: center;
}

li {
    margin-bottom: 20px;
}

li:last-child {
    margin-bottom: 0;
}