@charset "utf-8";

html {
    background-color: #fdfdf0; /* off white/cream-ish color is easier on the eyes */
}

body {
    margin: 0;
    padding: 10px;
}

.overall-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    grid-template-rows: [header-start] 75px [header-end navbar-start] 50px [navbar-end] 25px [education1-start]
    75px [education1-end education2-start] 75px [education2-end education3-start] 75px [education3-end];
    grid-template-areas:
    "header"
    "navbar"
    "."
    "education1"
    "education2"
    "education3"
}

.navbar {
    display: flex;
    top: 75px;
    position: sticky;
    width: 100%;
    grid-area: navbar;
    justify-content: space-around;
    font: italic 22px Arial, sans-serif;
    background-color: #fdfdf0;
}

.navbar a:hover {
    color: darkgray;
}

@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        row-gap: 1px;
        background-color: transparent;
    }
}

a {
    text-decoration: dotted underline;
    color: black;
}

.active-page {
    text-decoration: double underline;
}

.header {
    grid-area: header;
    font: 35px Arial, sans-serif;
}

.education1 {
    grid-area: education1;
}

.education2 {
    grid-area: education2;
}

.education3 {
    grid-area: education3;
}

.education1, .education2, .education3 {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
