@charset "utf-8";

.overall-container {
    display: grid;
    grid-template-columns: [home-start] 1fr [home-end projects-start] 1fr [projects-end contact-info-start]
    1fr [contact-info-end skiing-start] 1fr [skiing-end];
    place-items: center;
    grid-template-rows: [header-start] 75px [header-end] 50px [navbar-start] 25px [navbar-end education1-start]
    50px [education1-end education2-start] 50px [education2-end education3-start] 50px [education3-end];
    grid-template-areas:
    "header header header header"
    "home projects contact-info skiing"
    ". . . ."
    "education1 education1 education1 education1"
    "education2 education2 education2 education2"
    "education3 education3 education3 education3";
}

a {
    text-decoration: dotted underline;
    color: black;
}

.active-page {
    text-decoration: double underline;
}

.header {
    grid-area: header;
    font: 35px Arial, sans-serif;
}

.home {
    grid-area: home;
}

.projects {
    grid-area: projects;
}

.contact-info {
    grid-area: contact-info;
}

.skiing {
    grid-area: skiing;
}

.home, .projects, .contact-info, .skiing {
    font: italic 22px Arial, sans-serif;
}

.education1 {
    grid-area: education1;
}

.education2 {
    grid-area: education2;
}

.education3 {
    grid-area: education3;
}

.education1, .education2, .education3 {
    font: 18px Arial, sans-serif;
}